/*Base */
*{
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
}

h2{
     font-family: "Eagle Lake", serif;
      font-size:30px;
}
    


.video{
    position:absolute;
    top:0;
    left: 0;
    width: 100vw;
    height:100vh;
    z-index: 0;
    object-fit: cover;

}

#section1{
    position: relative;
    z-index: 1;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing:6px;
    animation: section 6s ease-out infinite;
    font-size: 40px;
}

#title{
    align-items:center;
    font-family: "Eagle Lake", serif;
    color:#dfb109;
    text-shadow: 0px 0px 10px black;
   
    
 
}


/* Section 2 ------------------- */
#section2{
    background-image: url("egypte/image/Background_section1.png");
    min-height:60vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

#titre1{
    font-family:"Eagle Lake", serif;
    font-size:30px;
    
}


#section2__text{
    width: 60vw;
    padding: 30px;
    border:5px solid black ;

    border-radius: 40px;
    background-color: rgba(255, 255, 255, 0.4);
}

#titre2{
    font-family:"Eagle Lake", serif;
    font-size:50px;
    padding: 20px;
}


p{
    font-size: 20px;
}
#imageeg {
    display:flex;
    justify-content:space-between;
    flex-direction:row;
    align-items: center;
}

#nefertiti{
   position: absolute;
 left: -3%;
  top: 50%;
  width: 200px;
  object-fit: contain;

}
#monuments{
    background-image: url(egypte/image/background.png);
    height:100vh ;
    width: 100vw;
}

/****annimation***/
@keyframes section {
    0%{transform:translateX(0px);}
    25%{transform: translateX(50px);}
    50%{transform: translateX(-50px);}
    75%{transform: translateX(50px);}
    100%{transform:translateX(0px);}
}

/*media